checkpoints/
voces/
gradio_tmp/
temp/
.hf_cache/
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.gradio/
*.pt
*.pth
*.wav
*.mp4
*.mp3
*.mov
*.mkv
*.flac
*.ogg
*.m4a
__pycache__/
**/__pycache__/
.DS_Store
README.md
latentlipsync_+_qwen3_tts.py
requirements_rocm.txt